HOST=0.0.0.0
PORT=1337
PUBLIC_URL=http://localhost:1337
ADMIN_URL=/admin
APP_KEYS=connecttrocaKeyOne,connecttrocaKeyTwo,connecttrocaKeyThree,connecttrocaKeyFour
API_TOKEN_SALT=connecttrocaApiTokenSalt
ADMIN_JWT_SECRET=connecttrocaAdminJwtSecret
TRANSFER_TOKEN_SALT=connecttrocaTransferTokenSalt
JWT_SECRET=connecttrocaJwtSecret
ENCRYPTION_KEY=connecttrocaEncryptionKey
DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=connecttroca
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_SCHEMA=public
DATABASE_SSL=false
DATABASE_SSL_REJECT_UNAUTHORIZED=false
DATABASE_POOL_MIN=2
DATABASE_POOL_MAX=10
DATABASE_CONNECTION_TIMEOUT=60000
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000,http://127.0.0.1:3000
STRAPI_TELEMETRY_DISABLED=true